**Funciones**

Escribe una función llamada sumar que reciba dos números como argumentos y retorne su suma.

In [14]:
def suma(x:int,y:int):
  return x+y
suma(1,2)

3

Crea una función llamada calcular_promedio que tome una lista de números como argumento y devuelva el promedio de esos números.

In [25]:
lista_numeros = [1,2,3]
def calcular_promedio(lista_numeros):
    for numero in lista_numeros:
        media=sum(lista_numeros)/len(lista_numeros)
    return media  

calcular_promedio(lista_numeros)

2.0

Desarrolla una función llamada convertir_mayusculas que reciba un string como argumento y retorne el mismo string en mayúsculas.

In [30]:
def convertir_mayusculas(cadena:str):
    return cadena.upper()
convertir_mayusculas("grupo 1")

'GRUPO 1'

Escribe una función llamada multiplicar_elementos que reciba una lista de números y retorne el producto de todos sus elementos.

In [29]:
def multiplicar_elementos(lista_num):
    producto=1
    for i in lista_num:
        producto=producto*i
    return producto
multiplicar_elementos([1,2,3,4])

24

In [16]:
def bienvenida(nombre):
    print('¡Bienvenido a Python', nombre + '!')
    return

bienvenida('Nimi')

¡Bienvenido a Python Nimi!

In [17]:
def calcular_cuadrado(num):
    resultado=num**2
    return resultado
calcular_cuadrado(9)

81

Haz una funcion que haga fibonacci

In [28]:

def fibonacci(n):
  a, b = 0, 1 
  for i in range(n):
   a, b = b, a + b
   
  return a
fibonacci(10)

55

Crea una función llamada contar_letras que reciba un string y retorne el número de letras en ese string.

In [12]:
def contar_letras(palabra:str):
    resultado=len(palabra)
    return resultado
contar_letras("Nicolás")

7

**Funciones lambda**

Convierte una función simple que suma dos números en una función lambda.

Usa una función lambda para ordenar una lista de strings por su longitud.

In [ ]:
lista_strings = ["melocoton", "manzana", "platano", "cereza", "sandia", "naranja"]

Utiliza una función lambda junto con reduce para encontrar el máximo en una lista de números.

Usa una función lambda junto con filter para obtener todos los números pares de una lista.

 Utiliza una función lambda junto con map para obtener una lista con los cuadrados de los números de la lista original.

**Apply / applymap**

Dado un DataFrame, utiliza applymap para convertir todos sus valores a strings.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

Usa apply para calcular el rango (diferencia entre el valor máximo y mínimo) de cada columna en un DataFrame.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 5, 3],
    'B': [4, 2, 6]
})

Dado un DataFrame con valores flotantes, utiliza applymap para redondear todos los valores a dos decimales.

Utiliza apply para convertir todos los nombres de columna de un DataFrame a mayúsculas.

En un DataFrame con una columna de edades, utiliza apply para categorizar las edades en 'joven', 'adulto', 'senior' basándose en los valores (por ejemplo, menor de 30 es 'joven', entre 30 y 60 'adulto', mayor de 60 'senior').

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Nombre': ['Amparo', 'Ignacio', 'Sandra'],
    'Edad': [70, 24, 35]
})